// Primary
$bg-red: rgba(227, 39, 40, 1);
$bg-green: rgba(97, 168, 56, 1);
$bg-blue: rgba(67, 143, 208, 1);
$bg-yellow: rgba(252, 170, 53, 1);
$bg-black: rgba(75, 75, 75, 1);

$bg-red-light: rgba(227, 39, 40, 0.75);
$bg-red-light-nottrans: rgba(234, 97, 97, 1);
$bg-green-light: rgba(97, 168, 56, 0.5);
$bg-blue-light: rgba(67, 143, 208, 0.5);
$bg-yellow-light: rgba(252, 170, 53, 0.5);
$bg-black-light: rgba(75, 75, 75, 0.5);

.MuiFormGroup-root {
  width: calc(90% - 16px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  p {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    line-height: 32px;
  }
  .MuiFormControlLabel-root {
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
    line-height: 32px;
    margin-top: 25px;
    margin-bottom: 25px;
    .MuiIconButton-colorSecondary.Mui-checked {
      color: $bg-green;
    }
    .MuiFormControlLabel-label {
      font-family: 'Indie Flower', cursive;
      font-size: 24px;
      line-height: 32px;
    }
  }
  .button {
    background-image: url('/images/go_button_white_48px.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    cursor: pointer;
    &:hover {
      background-image: url('/images/go_button_red_48px.png');
    }
  }
}
